kafka-python
avro-python3
pandas
pyarrow
python-schema-registry-client
pyspark
pymongo
delta-spark
# sqlalchemy==2.0.20
sqlalchemy
python-dotenv
psycopg2-binary
requests
numpy
minio
PyYAML
dbt-core
dbt-postgres
great_expectations
jupyterlab
apache-airflow
apache-airflow-providers-postgres
airflow-provider-great-expectations
apache-airflow-providers-docker
s3fs